<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Hotel XXL</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Pokoje</a></li>
      <% if (logged && user.role_id == 1) { %><li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/rezerwacje">reservations</a></li>
          <li><a href="/admin/users">users</a></li>
          <li><a href="/admin/branches">branches</a></li>
        </ul>
      </li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
            <% if (!logged) { %>
                <li><a href="/login"><span class="fa fa-user"></span> Logowanie</a></li>
                <li><a href="/signup"><span class="fa fa-user"></span> Rejestracja</a></li>
            <% } %>
            <% if (logged) { %>
                <li><li><a href="/profile"><span class="fa fa-user"></span> Profil</a></li>
                <li><a href="/logout"><span class="fa fa-user"></span> Wyloguj</a></li>
            <% } %>   
    </ul>
  </div>
</nav>