<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1>Lista oddziałów</h1>
	</div>
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>lp.</td>
                <td>Ulica</td>
                <td>Numer</td>
                <td>Miasto</td>
                <td>Nazwa hotelu</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= data[i].street %></td>
                    <td><%= data[i].number %></td>
                    <td><%= data[i].city %></td>
                    <td><%= data[i].hotel_name %></td>       
                    <td><a href="<%= '/admin/branches/edit/' +  data[i].id %>">Edytuj</a></td>                            
                </tr>
            <% } %>
            </tbody>
            <div class="col-sm-12">
                <div class="pull-right"><a href="/admin/branches/add" class="btn btn-default">Dodaj nowy oddzaił</a></div>
            </div>
        </table>
	</div>
</div>
</body>
</html>