<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><% if (type === "add") {%>Dodaj oddział<% } else {%>Edytuj oddzaił<% } %></h1>
	</div>
	<div class="row">
        <% if (type === "add") {%>
            <div class="col-sm-12">
                <form method="post" action="/admin/branches/add">
                <div class="form-group">
                    <label for="city">Misto</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="street">Ulica</label>
                    <input type="text" name="street" class="form-control" id="street" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="number">Numer</label>
                    <input type="text" name="number" class="form-control" id="number" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="hotel_id">Wybierz Hotel</label>
                    <select class="form-control" name="hotel_id" id="hotel_id">
                    <% for(var i=0; i < hotels.length; i++) { %>
                        <option value="<%= hotels[i].id %>"><%= hotels[i].name %></option>
                    <% } %>

                    </select>
                </div>

                <button type="submit" class="btn btn-default">Zapisz</button>
                </form>
            </div>
        <% } else {%> 
            <div class="col-sm-12">
                <form method="post" action="<%= '/admin/branches/edit/' + branch.id + '?_method=PUT' %>">
                <div class="form-group">
                    <label for="city">Misto</label>
                    <input type="text" name="city" class="form-control" id="city" value="<%= branch.city %>" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="street">Ulica</label>
                    <input type="text" name="street" class="form-control" id="street" value="<%= branch.street %>" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="number">Numer</label>
                    <input type="text" name="number" class="form-control" value ="<%= branch.number %>" id="number" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="hotel_id">Wybierz Hotel</label>
                    <select class="form-control" name="hotel_id" id="hotel_id">
                    <% for(var i=0; i < hotels.length; i++) { %>
                        <option <% if (branch.hotel_id == hotels[i].id) {%> selected="selected" <% } %> value="<%= hotels[i].id %>"><%= hotels[i].name %></option>
                    <% } %>

                    </select>
                </div>

                <button type="submit" class="btn btn-default">Zapisz</button>
                </form>
            </div> 
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>lp.</td>
                        <td>Opis</td>
                        <td>Cena</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i < rooms.length; i++) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= rooms[i].description %></td>
                            <td><%= rooms[i].price %></td>
                            <td><a href="<%= '/admin/rooms/edit/' +  rooms[i].id %>">edytuj</a></td>                            
                        </tr>
                    <% } %>
                    </tbody>
                    <div class="col-sm-12">
                        <div class="pull-right"><a href="<%= '/admin/branches/edit/' + branch.id + '/rooms' %>" class="btn btn-default">Dodaj nowy pokoj</a></div>
                    </div>
                </table>
            </div>       
        <% } %>   
    </div>
</div>
</body>
</html>