<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class=""></span>Pokoje do wynajęcia</h1>
	</div>
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Rezerwacja od</td>
                <td>Rezerwacja do</td>
                <td>Opis</td>
                <td>Ulica</td>
                <td>Adres</td>
                <td>Miasto</td>
                <td>Hotel</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                   <td><%= data[i].id %></td>
                    <td><%= data[i].checkin %></td>
                    <td><%= data[i].checkout %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].street %></td>
                    <td><%= data[i].number %></td>
                    <td><%= data[i].city %></td>
                    <td><%= data[i].name %></td>
                    <% if (logged) {%><td><a href="<%= '/rezerwacja/' +  data[i].id %>">Rezerwuj</a></td><% } %>
                </tr>
            <% } %>
            </tbody>
        </table>
	</div>
</div>
</body>
</html>