<!-- views/login.ejs -->
<% include ../particals/head.ejs %>
<body>
    <div class="container">
        <% include ../particals/navbar.ejs %>
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span>Logowanie do systemu</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Nazwa użytkownika</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Hasło</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Zaloguj się</button>
            </form>

            <hr>

            <p>Potrzebujesz konto? <a href="/signup">Zarejestruj się</a></p>
            <p>albo wróc na <a href="/">stronę główną</a>.</p>
        </div>
    </div>
</body>
</html>
