<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Profil użytkownika</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
				<h3><span class="fa fa-user"></span>Twoje dane:</h3>
					<p>
						<strong>ID</strong>: <%= user.id %><br>
						<strong>Nazwa użytkownika</strong>: <%= user.username %><br>
						<strong>Email</strong>: <%= user.email %><br>
						<strong>Rola</strong>: <%= user.role_id %><br>	
					</p>
			</div>
		</div>
		<div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>LP.</td>
                <td>Przyjazd</td>
                <td>Wyjazd</td>
                <td>Ulica</td>
                <td>Numer</td>
                <td>Miasto</td>
				<td>Hotel</td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < results.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= results[i].checkin %></td>
                    <td><%= results[i].checkout %></td>
                    <td><%= results[i].street %></td>
                    <td><%= results[i].number %></td>
                    <td><%= results[i].city %></td>
                    <td><%= results[i].name %></td>
					
                </tr>
            <% } %>
            </tbody>
        </table>
	</div>
	</div>
	<script>
	
	</script>
</div>
</body>
</html>
