<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class=""></span>Lista rezerwacji</h1>
	</div>
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>lp.</td>
                <td>Data złożenia</td>
                <td>Przyjazd</td>
                <td>Wyjazd</td>
                <td>Nazwa</td>
                <td>email</td>
                <td>Ulica</td>
                <td>numer</td>
                <td>Miasto</td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= data[i].created %></td>
                    <td><%= data[i].checkin %></td>
                    <td><%= data[i].checkout %></td>
                    <td><%= data[i].username %></td>                    
                    <td><%= data[i].email %></td>
                    <td><%= data[i].street %></td>
                    <td><%= data[i].number %></td>
                    <td><%= data[i].city %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
	</div>
</div>
</body>
</html>