<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class=""></span>Dodaj rezerwacje</h1>
	</div>
	<div class="row">
        <div class="col-sm-12">
            <form method="post" action="<%= '/rezerwacja/' + id  %>">
                <div class="form-group">
                    <label for="checkin">Data od</label>
                    <input type="date" name="checkin" class="form-control" id="checkin" placeholder="text">
                </div>
                <div class="form-group">
                    <label for="checkout">Data do</label>
                    <input type="date" name="checkout" class="form-control" id="checkout" placeholder="text">
                </div>
                <button type="submit" class="btn btn-default">Rezerwuj</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>