<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class=""></span>Dodaj oddział</h1>
	</div>
	<div class="row">
        <% if (type === "add") {%>
            <div class="col-sm-12">
                <form method="post" action="<%= '/admin/branches/edit/' + id + '/rooms' %>">
                    <div class="form-group">
                        <label for="price">Cena</label>
                        <input type="text" name="price" class="form-control" id="price" placeholder="text">
                    </div>
                    <div class="form-group">
                        <label for="people">Ilość osób</label>
                        <input type="text" name="people" class="form-control" id="people" placeholder="text">
                    </div>
                    <div class="form-group">
                        <label for="description">Opis</label>
                        <textarea name="description" class="form-control" id="description" placeholder="text">Opis</textarea>
                    </div>
                    <button type="submit" class="btn btn-default">zapisz</button>
                </form>
            </div>
        <% } %> 
    </div>
</div>
</body>
</html>