<!-- views/signup.ejs -->
<% include ../particals/head.ejs %>
<body>
	<div class="container">
		<% include ../particals/navbar.ejs %>
		<div class="col-sm-6 col-sm-offset-3">

			<h1><span class="fa fa-sign-in"></span> Zarejestruj się</h1>

			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>

			<!-- LOGIN FORM -->
			<form action="/signup" method="post">
				<div class="form-group">
					<label>Nazwa</label>
					<input type="text" class="form-control" name="username">
				</div>
				<div class="form-group">
					<label>Hasło</label>
					<input type="password" class="form-control" name="password">
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Zarejestruj się</button>
			</form>

			<hr>

			<p>Posiadasz konto? <a href="/login">Zaloguj się</a></p>
            <p>albo wróc na <a href="/">stronę główną</a>.</p>
		</div>
	</div>
</body>
</html>
