<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class=""></span>Lista użytkowników</h1>
	</div>
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>lp.</td>
                <td>Username</td>
                <td>Email</td>
                <td>Rola</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < users.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].role %></td>
                    <td><a href="<%= '/admin/users/edit/' +  users[i].id %>">edytuj</a></td>                            
                </tr>
            <% } %>
            </tbody>

        </table>
	</div>
</div>
</body>
</html>