<!-- views/profile.ejs -->
<% include ../particals/head.ejs %>
<div class="container">
<% include ../particals/navbar.ejs %>
	<div class="page-header text-center">
		<h1><span class=""></span>Edycja użytkownika</h1>
	</div>
	<div class="row">
        <% if (type === "edit") {%>
            <div class="col-sm-12">
                <form method="post" action="<%= '/admin/users/edit/' + id + '?_method=PUT' %>">
                    <div class="form-group">
                        <label for="username">Nazwa</label>
                        <input type="text" name="username" value="<%= user.username %>" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="email" name="email" value="<%= user.email %>" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="role_id">Rola</label>
                        <select class="form-control" name="role_id" id="role_id">
                            <% for(var i=0; i < roles.length; i++) { %>
                                <option <% if (user.role_id == roles[i].id) {%> selected="selected" <% } %> value="<%= roles[i].id %>"><%= roles[i].role %></option>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">zapisz</button>
                </form>
            </div>
        <% } %> 
    </div>
</div>
</body>
</html>